/*
  Theme Name: Blog
  Author: Upper
  Author URI: http://upperthemes.com

  CSS File for Blog Masonry & Default
*/
.blog-default {
    padding: 0;
    padding-bottom: 60px;
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
}

.page-template-b3log-template .blog-default,.single-post .blog-default {
    padding: 0;
}

.blog-default.wideblog {
    padding-top: 50px;
}1

.blog-default .page_content.left .container,.blog-default .page_content.right .container {
    padding: 0 !important;
}

.blog-default-bg {
    left: 0;
    z-index: 5;
    position: relative;
    padding-right: 0px;
}

.single-post .page_content.left .blog-default-bg {
    padding-right: 30px;
}

.padding-box {
    padding: 40px 0;
}

.blog-default-bg-masonry {
    left: 0;
    z-index: 5;
    position: relative;
    text-align: center;
    /* background: #fff; */
    padding-bottom: 0;
}

.padding-box-masonry {
    padding: 30px 20px 0;
    width: 100%;
    text-align: left;
}

.link .padding-box-masonry,.link .blog-default-bg-masonry,.quote .blog-default-bg-masonry {
    padding: 0;
}

.post .blog-default-bg-masonry .flexslider {
    /* margin-bottom: 45px !important; */
    max-height: 250px;
}
.blog-default-bg-masonry .vendor{
    margin-bottom: 0px !important;
}

.padding-box-masonry .the_title {
    padding-top: 0;
    padding: 0;
}

.post {
    position: relative;
    margin: 50px auto;
}
.single-post .post {
    position: relative;
    margin: 0px auto;
}
.post-listing .post {
    position: relative;
    margin: 0px auto;
}

.data-bg {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 80px;
}

.data-bg .day {
    font-size: 13px;
    text-align: right;
    color: #ECECEC;
    padding-top: 0;
    font-family: Raleway;
    position: relative;
    letter-spacing: 1px;
}

.data-bg .day span {
    font-size: 75px;
    line-height: 65px;
    letter-spacing: -1px;
    text-align: right;
    position: relative;
    width: 100%;
    display: block;
    left: 0;
    font-weight: 700;
}

/* Overlay link / Zoom */
body.single-post a.des_prettyphoto {
    position: relative;
    /*     float: left; */
}

.featured-image a:hover .post_overlay,body.single-post a.des_prettyphoto:hover .post_overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.post_overlay,body.single-post a.des_prettyphoto .post_overlay {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

}

.featured-image a i,body.single-post a.des_prettyphoto i {
    position: absolute;
    line-height: 36px;
    margin: -18px 0 0 -18px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    display: none;
}

.widget_search form:before {
    position: absolute;
    top: 18px;
    right: 17px;
    font-size: 13px;
    font-family: 'FontAwesome';
    content: '\f002';
    -webkit-font-smoothing: antialiased;
    color: #484848;
    line-height: 1;
}

/* CALENDAR WIDGET */
.widget_calendar {
    font-size: .9em;
    padding: 5px;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar table caption {
    padding: 6px 2px;
    background: #545454;
    color: #f2f2f2;
    font-size: 13px;
    text-align: center;
}

.widget_calendar table thead th {
    padding: 3px;
    text-align: center;
}

.widget_calendar table td {
    padding: 4px;
    text-align: center;
}

.widget_calendar table td.pad {
    background: transparent;
    border: none;
}

.widget_calendar table td#prev {
    border: none;
    text-align: left;
}

.widget_calendar table td#next {
    border: none;
    text-align: right;
}

.widget_calendar table tfoot td {
    padding: 10px 0 5px;
}

.widget_calendar table tfoot a {
    margin: 0 5px;
}

/* Comment */
.comment-form {
    position: relative;
}

.comment-form .name,.comment-form .subject,.comment-form .email {
    width: 100%;
    position: relative;
    float: left;
    margin-right: 5px;
}

.comment-form .subject {
    margin-right: 0;
}

textarea {
    max-width: 100%;
}

#comments .form input.hightlight,.form textarea.hightlight {
    border: 1px solid #E45942;
}

.comments li {
    list-style-type: none;
    margin: 10px 0;
}

#comments label {
    text-align: left;
    left: 0;
    padding-bottom: 4px;
    font-weight: 400;
}

#comments input:focus,#comments textarea:focus {
    outline: none;
    border: 1px solid #ccc;
    background: #fff;
}

.comments li i {
    width: 30px;
    position: relative;
}

.comment-form input::-webkit-input-placeholder,.comment-form textarea::-webkit-input-placeholder {
    color: #212121;
}

.comment-form input::-moz-placeholder,.comment-form textarea::-moz-placeholder {
    color: #212121;
    opacity: 1;
}

.comment-form input:-moz-placeholder,.comment-form textarea:-moz-placeholder {
    color: #212121;
    opacity: 1;
}

.comment-form input:-ms-input-placeholder,.comment-form textarea:-ms-input-placeholder {
    color: #212121;
}

#comments .space {
    margin: 5px 0;
}

/* Sucess send style*/
#comments .form-success {
    display: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-top: 0;
    padding: 0;
    left: 0;
}

.address i {
    font-size: 16px;
    top: 2px;
    position: relative;
    margin-right: 10px;
}

#comments input,#comments textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail {
    max-width: 100%;
    height: auto;
}

/* BLOG WIDGETS */
#searchform {
    position: relative;
}

.blog-sidebar .widget:first-child,.blog-sidebar .widget h2.widgettitle:first-child {
    margin-top: 0 !important;
}

iframe.twitter-tweet {
    width: 100% !important;
}

.widget ul li a,.footer_sidebar ul li a {
    text-rendering: optimizelegibility;
    line-height: 22px;
    color: #444;
    margin-left: 1px;
    display: inline-block;
    width: 100% !important;
    padding: 0;
}

.widget ul li a.the_author{
    width: auto !important;
}

.widget .tweet_list li a,.widget .contact-form li a {
    width: auto !important;
    padding-right: 0;
}

.widget ul li.recentcomments span {
    margin-left: 0;
}

.widget, .custom-widget {
    margin: 0 0 50px;
    float: left;
    width: 100%;
}
#big_footer .widget, #big_footer .custom-widget{
    background: transparent;
}
.page-template .page_content .container .widget{
    padding: 0;
    border: 0;
}
.widget.des_recent_posts_widget{position: relative;display: block;}
.widget.widget-contact-info{margin-bottom: 5px;border: none;text-align: center;}
.widget.widget-contact-info:last-child{margin-bottom: 50px;}

.page_content .widget.widget-contact-info{
    padding: 25px;
    border: 1px solid #ddd;
}

.widget.flickr_container li a:before {
    display: none;
}

.sidebar .widget.des_cubeportfolio_widget {
    margin-bottom: 65px;
}

.wpb_widgetised_column .widget.des_cubeportfolio_widget {
    margin-bottom: 0;
}

.sidebar .ult-carousel-wrapper {
    margin-top: 40px !important;
}

.widget < .widget-contact-info {
              margin-bottom: 50px;;
          }

.widget li,.widget_nav_menu li,.footer_sidebar ul li {
    list-style: none;
    margin-left: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 12px 0;
    border-top: 1px solid #e4e4e4;
    padding-right: 20px;
}

.widget li a:hover,.widget_nav_menu li a:hover,.footer_sidebar ul li a:hover{
    padding-left: 3px;
}

.widget:not(.contact-widget-container):not(.instagram_widget):not(.recent_posts_widget_2) li > a:before,.widget_nav_menu li > a:before,.footer_sidebar ul li > a:before {
    position: relative;
    top: 1px;
    right: -21px;
    font-size: 17px;
    font-family: 'FontAwesome';
    content: '\f105';
    -webkit-font-smoothing: antialiased;
    color: #a6a7ab;
    line-height: 1;
    float: right;
    font-weight: normal;
}
.widget.instagram_widget li a:before { content: " "; }

.widget:not(.contact-widget-container):not(.instagram_widget):not(.recent_posts_widget_2) li a:after,.widget_nav_menu li a:after,.footer_sidebar ul li a:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    margin-top: 22px;
    border-bottom: 1px solid transparent;
    content: '';
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget:not(.contact-widget-container):not(.instagram_widget):not(.recent_posts_widget_2) li a:hover:after,.widget_nav_menu li a:hover:after,.footer_sidebar ul li a:hover:after{
    border-bottom-color: #da97a0 !important;
    width: 5%;
}

.widget li:last-child,.widget_nav_menu li:last-child,.footer_sidebar ul li:last-child {
    border-bottom: 1px solid #dcdcdc;
}


.widget .contact-form li {
    padding: 0;
}

.wpb_column .widget_nav_menu li:last-child,.slick-dots li {
    border-bottom: none;
}

.wpb_column .widget_nav_menu li:first-child a {
    border-top: none;
}

#menu-services-menu {
    margin: 0;
}

.top-bar-menu #menu_top_bar > li > a:hover {
    background: transparent !important;
}

.footer_sidebar ul li {
    border-top: none;
}

.widget .forms li {
    border-top: none;
}

.widget.widget_archive li {
    white-space: pre;
}

.widget.widget_rss li {
    white-space: pre-wrap;
    line-height: 1.7em;
}

.widget.widget_rss li a {
    line-height: 1.7em;
}

.widget.widget_rss li:after {
    top: 18px;
}

.textwidget select {
    max-width: 100%;
}

.widget_nav_menu .sub-menu {
    margin: 0;
}

.widget_nav_menu .sub-menu li:last-child {
    border-bottom: none;
}

.widget_nav_menu .sub-menu li a {
    padding-left: 15px;
}

.widget_nav_menu .sub-menu li .sub-menu li a {
    padding-left: 30px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 45px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 60px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 75px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 90px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 105px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 120px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 135px;
}

.widget_nav_menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
    padding-left: 150px;
}

.widget li .children,.widget_nav_menu li .children,.footer_sidebar ul li .children,.custom-widget li .children {
    margin: 0;
}

.widget li .children li,.widget_nav_menu li .children li,.footer_sidebar ul li .children li,.custom-widget li .children li {
    border-bottom: none;
}

.widget li .children li a,.widget_nav_menu li .children li a,.footer_sidebar ul li .children li a,.custom-widget li .children li a {
    padding-left: 15px;
}

.widget li .children li .children li a,.widget_nav_menu li .children li .children li a,.footer_sidebar ul li .children li .children li a,.custom-widget li .children li a .children li a {
    padding-left: 30px;
}



.widget.contact-widget-container li a:before {
    top: 3px;
}

.widget li a:hover,.widget_nav_menu li a:hover,.footer_sidebar ul li a:hover,.custom-widget li a:hover {
}

.widget li a:hover:before,.widget_nav_menu li a:hover:before,.footer_sidebar ul li a:hover:before,.custom-widget li a:hover:before {
}

.widget .forms li:after,.slick-dots li:after,.flex-control-nav li:after,.flex-direction-nav:after,.flexslider li:after,#twitter-feed ul li:after,.flex-control-nav li a:before,.flex-direction-nav li a:before,.flexslider li a:before,#twitter-feed ul li:before {
    display: none;
}

.footer_sidebar ul#flickr li a:after {
    display: none;
}

.widget .tabscontent li {
    background: none;
    padding: 0;
}

.tabscontent .date {
    font-size: 11px;
    border: none;
}

.tabscontent p {
    margin-bottom: 0;
}

.widget_rss li {
    background: none;
    padding-left: 0;
    padding-bottom: 15px;
}

.widget .flexslider li {
    background: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.widget_rss a {
    font-weight: 700;
}

.widget_rss cite {
    font-style: italic;
}

.widget_search {
    border: none;
    margin-bottom: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}

.widget_search input {
    border: none;
    padding: 11px 25px 10px 14px;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #676767;
    font-weight: 500;
    border: 2px solid #e4e4e4;
    background: #fff;
    border-radius: 0;
    font-family: Roboto, Arial;
    font-weight: 500;
}

.widget_product_search input[type="search"] {
    border: none;
    padding: 7px;
    width: 69%;
    outline: none;
    background: #FAFAFA;
    border: 1px solid #ededed;
    padding-left: 15px;
    font-size: 13px;
}

.widget_product_search input[type="submit"] {
    border: none;
    padding: 7px 10px;
    outline: none;
    background: #333;
    border: 1px solid #333;
    font-size: 13px;
    color: #fff;
}

#recentcomments li {
    text-rendering: optimizelegibility;
    line-height: 1;
    color: #444;
    margin-left: 1px;
    width: 100%;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: normal;
    padding: 12px 0px;
    line-height: 1;
    padding-right: 20px;
}

#recentcomments li a,#recentcomments li span,.widget_archive.widget li a,.widget_categories.widget li a {
    border: none;
    line-height: 1.5em;
    /* width: auto !important; */
}

.widget ul#recentcomments li a,.widget ul#recentcomments li span {
    display: inline;
    padding-right: 0;
    font-size: 1em !important;
}

.black-section .widget_search input,.dark-section .widget_search input {
    background: #1C2024;
    color: #828A94;
    border: 1px solid #21262B;
}

.widget_search #searchsubmit {
    display: none;
}

.single .postcontent #the_movies,.single .postcontent .featured-image-thumb a {
    margin-bottom: 40px;
    max-width: 100%;
}

.page-template-blog-template .featured-image,.archive .featured-image, .blog-default-bg .gallery_container {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.author-thumbnail img{border-radius: 100%;max-width: 80px;}
.single .gallery_container {display: block;width: 100%;/* float: left; */}

.blog-default-bg-masonry .featured-image{margin: 0;}

.page-template-blog-template .flexslider, .archive .flexslider, .page-template-blog-template .post-video {
    margin: 0px auto 40px;
}

.archive .flexslider {
    margin-bottom: 30px !important;
}

.tabs li.current {
    color: #fff;
}

.widget_posts li,.tabs li {
    list-style-type: none;
}

.tabs li {
    padding: 10px 15px;
    width: auto;
    display: inline-block;
    background: #F7F7F7;
    border: none;
    font-size: 12px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.tabs li {
    cursor: pointer;
}

.h-tabs .tabs li {
    border: none;
}

.tabs {
    margin-bottom: -1px;
    padding: 0;
}

.tabs .flexslider li {
    border: none;
    padding: 0;
}

.contents {
    overflow: hidden;
    padding: 15px;
    background: #fff;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.dark-section .contents,.black-section .contents {
    background: #1C2024;
    border: 1px solid #21262B;
}

.contents .tabscontent {
    display: none;
    overflow: hidden;
}

.widget_posts .contents .tabscontent .date p {
    font-size: 12px !important;
    color: #8B8B8B;
    margin: 0;
}

.widget_posts .contents .tabscontent .date p i {
    padding-right: 3px;
}

.widget_posts .contents .tabscontent ul li {
    margin-bottom: 28px;
    overflow: hidden;
}

.widget_posts .contents .tabscontent ul li:last-child {
    margin-bottom: 0;
}

.widget_posts .contents .tabscontent ul li img {
    width: 70px;
    height: 70px;
    float: left;
    position: relative;
    margin: 6px 16px 5px 3px;
    border: 4px solid #ededed;
}

.widget > h4,.widget .widget-contact-content > h4 {
    font-weight: 600;
    font-size: 1.2em;
}

.widget > h4,.widget .widget-contact-content > h4 {
    margin-bottom: 40px !important;
    text-transform: capitalize;
}

.tagcloud a {
    cursor: pointer;
    padding: 4px 10px 3px;
    background: #333;
    position: relative;
    float: left;
    font-size: 15px !important;
    color: #f2f2f2 !important;
    margin: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #333;
}

.tagcloud a:hover {
    color: #fff !important;
}

.p-quote .post-content {
    background: #F8F8F8;
    border: none;
    padding-bottom: 0;
}
.post-content .gallery_container,
.post-content .post-video{
    position: relative;
    overflow: hidden;
}
.blog-normal .p-quote .post-content {
    background: #F8F8F8;
    border-bottom: none;
}

.dark-section .post-content,.dark-section .about-author,.dark-section #comments,.black-section .post-content,.black-section .about-author,.black-section #comments {
    background: #1C2024;
    border: 1px solid #21262B;
}

.comment-body p {
    text-align: left !important;
}

h2.post-title {
    font-size: 21px;
    font-weight: 800;
    margin: 0 0 5px;
}

.blog-normal h2.post-title {
    margin: 0 0 10px;
}

.blog-normal .post-summary {
    margin-bottom: 20px;
}

.blog-normal .featured-image {
    margin-bottom: 30px;
}

h2.post-title a {
    font-weight: 600;
}

.blog-normal h2.post-title a {
    font-weight: 600;
    color: #333;
    font-size: 1.5em !important;
    margin: 25px 0 15px;
}

.metas .tags a,.metas .category a {
    color: #333;
    font-size: 12px !important;
    font-family: Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 300;
}

h2.post-title.simple-text {
    margin: 0 0 20px;
}

.featured-image a {
    /* position: relative; */
    /* display: inline-block; */
    /* max-width: 100%; */
    /* height: auto; */
    display: grid;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-height: 500px;
}

.post-content .featured-image img {
    width: 100%;
    z-index: 9;
}

.post-content .featured-image .hover-image-blog {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.post-content .ms-showcase2-template {
    padding-bottom: 45px !important;
}

.post-quote {
    padding: 50px;
    border-bottom: none;
    border: none;
    text-align: left;
}

.post-quote i:first-child {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.post-quote i:last-child {
    display: none;
}

.the_title h2 a,.des_recent_posts_widget.widget a h4 {
    color: #373737;
    line-height: 1.5em;
    font-weight: normal !important;
    font-size: 16px !important;

}

/* .archive .the_title h2 a,.page-template-blog-template .the_title h2 a {font-size: 50px !important;letter-spacing: normal;} */


.page-template-blog-template .the_title h2 {
    margin: 0 0 20px;
    text-align: left;
}

.the_title h2,.des_recent_posts_widget.widget > h4 {
    color: #373737;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.des_recent_posts_widget.widget .title h4{
    margin-bottom: 15px;
}

.single .the_title h2 {
    font-size: 26px;
}

.des_recent_posts_widget.widget .featured-image {
    margin-bottom: 25px !important;
}

.des_recent_posts_widget.widget .flexslider {
    margin-bottom: 30px !important;
}

.tag-link .divider-posts {
    margin: 50px 0 40px;
}

.search-results .the_title h2 a {
    text-align: center;
    font-weight: 600 !important;
    margin: 5px 0 15px !important;
    display: block;
    font-size: 28px !important;
}

.search-results .the_title h2{
    text-align: center;
}
.search-results .isotope .the_title h2 a {
    font-size: 18px !important;
    text-align: left;
    font-weight: 600 !important;
    margin: 5px 0 15px !important;
    display: block;
}


.search-results .isotope .the_title h2{
    text-align: left;
}
.search-results .the_title{
    padding: 0;
}
.search-results .metas-container {
    margin-top: 25px !important;
    margin-bottom: 5px;
}

.metas-container p,.metas-container a {
    letter-spacing: 0px;
    font-size: 14px !important;
    text-transform: capitalize;
    font-weight: 600 !important;
    font-family: 'Heebo', 'Arial', 'sans-serif' ,sans-serif;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    letter-spacing: 1px;
}

.post-listing .metas-container p,.post-listing .metas-container a {
    font-family: 'Heebo', 'Arial', 'sans-serif' ,sans-serif;
    font-size: 11px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    color: #8c8c8c;
    font-family: 'Heebo', 'Arial', 'sans-serif';
    font-weight: 500;
    font-size: 13px;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.page_content .metas-container p {
    margin-right: 15px;
}
.metas-container p.metas-sep{
    font-size: 6px !important;
    line-height: 24px;
    margin: 0 8px;
    text-indent: -9999px;
}


.metas-container p {
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: 5px !important;
}
.page_content .metas-container p.metas-sep {
    display: none;
}
.fullwidth-container .metas-container p,.fullwidth-container .metas-container a{
    opacity: 0.85;
}
.metas-container p:last-child{
    margin-right: 0px;
}

.metas-container i {
    color: #7dc771;
    font-size: 16px;
    margin-right: 10px;
    float: left;
    line-height: 19px;
}

.metas-container,.the_title {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    float: left;
    text-align: left;
}

.single .metas-container {
    margin: 10px auto 20px;
    text-align: left;
    /* float: left; */
    padding: 0;
}
.single .post-quote {
    margin-bottom: 40px;
}
.single .titlesleftcrumbsright .metas-container,
.single .container.left .metas-container{
    text-align: left;
    padding: 10px 0 0;
    display: inline-block;
}
.single .center .metas-container {
    margin: 20px auto 0px;
    text-align: center;
    display: table;
    opacity: 1;
}

.single .metas-container.light p, .single .metas-container.light a{
    /* 	color: #fff !important; */
    opacity: 0.25;
}
.single .metas-container.dark p, .single .metas-container.dark a{
    /* 	color: #101010 !important; */
    opacity: 0.85;
}
.single .metas-container a:hover{
    opacity: 0.5 !important;
}
.align-metas-center{
    display: inline-block;
}
.page-template-blog-masonry-template .metas-container, .page-template-blog-masonry-grid-template .metas-container {
    margin: 10px 0 30px;
}

.page-template-blog-masonry-template .page_content, .page-template-blog-masonry-grid-template .page_content {
    margin-bottom: 80px;
}

.archive .metas-container {
    margin: 10px 0 0;
}

.single-post .postcontent .flexslider, .single .gallery_container{
    margin-bottom: 50px;
}

.blog-default-bg-masonry .the_title {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5px;
}
.blog-default-bg-masonry .the_title h2 a{line-height: 1.4em;}
.page-template-blog-masonry-grid-template .the_title h2{margin-left: 20px;}
.home.blog .the_title h2 a{font-weight: bold !important;}
.blog-default-bg-masonry .the_title.no-feature {
    padding-top: 0;
}

.page-template-blog-masonry-template .text .blog-default-bg-masonry .the_title h2{
    float: left;
    width: 100%;
    margin: -20px 0px 15px 0px;
    z-index: 99999;
    position: relative;
}
.blog-default-bg-masonry .post-summary {
    margin: 15px 0;
}

.blog-default-bg-masonry .post-summary p{
    line-height: 1.5em;
    text-align: left;
    /*     font-size: 0.95em; */
}


.blog_excerpt {
    margin: 0;
    text-align: left;
}
.blog-default-bg-masonry .the_title h2,
.blog-default-bg-masonry .blog_excerpt{
    text-align: left;
    position: relative;
}
.blog-default-bg-masonry .the_title h2{
    /* margin-bottom: 5px; */
}
.blog-default .blog_excerpt{
    padding: 0;
}
.morebutton {
    float: left;
}

.comments-lovepost {
    float: left;
    margin-top: 10px;
}

.blog-default-bg-masonry .comments-lovepost,.des_recent_posts_widget .comments-lovepost {
    margin: 5px 10px 0 20px;
}

.comments-count {
    float: left;
}

.comments-count i {
    margin-right: 0;
    font-size: 15px;
}

.page-template-blog-masonry-template .date i, .page-template-blog-masonry-grid-template .date i {
    margin-right: 5px;
    font-size: 13px;
}

.lovepost {
    float: left;
    margin-left: 16px;
}

/* Sidebar */
.blog-sidebar-bg {
    display: inline-block;
    position: relative;
    z-index: 5;
    padding-left: 0;
    max-width: 100%;
}


.widget h2, .widget > h4, .custom-widget h4,
.custom-widget h4, .des_partners_widget h4, .widget.des_recent_posts_widget > h4, .contact-widget-container h4, .des_team_widget h4, .twitter_container h4,.widget .widget-contact-content > h4{
    text-align: left;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.widget.des_testimonials_widget .featured_image_widget,
.widget.des_testimonials_widget .testi-info{
    text-align: center;
    margin: 0 auto;
    display: table;
}

.widget > h2:after, .widget > h4:after, .custom-widget > h4:after{
    width: 15%;
    height: 2px;
    background: #ebbb94;
    content: "";
    position: relative;
    text-align: left;
    margin: 0;
    display: inline-table;
    bottom: -10px;
    border-right: none;
    border-left: none;
    float: left;
    position: absolute;
    left: 0;
}

.blog-default-bg-back {
    background: #fff;
    position: relative;
    top: 12px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 12px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    z-index: 1;
}

.blog-default-bg-back2 {
    background: #fff;
    position: relative;
    top: 8px;
    display: block;
    width: 91.7%;
    height: 100%;
    position: absolute;
    left: 25px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    z-index: 2;
}

.blog-default-bg-back3 {
    background: #fff;
    position: relative;
    top: 4px;
    display: block;
    width: 92%;
    height: 100%;
    position: absolute;
    left: 19px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    box-shadow: 0 1px 1px 0 rgba(50,50,50,0.1);
    z-index: 3;
}

.wideblog .blog-default-bg-back2 {
    width: 97%;
    left: 29px;
}

.wideblog .blog-default-bg-back3 {
    width: 97.2%;
    left: 22px;
}

.data-bg:after {
    top: 50%;
    content: "";
    width: 10px;
    margin: 0 14px;
    position: absolute;
    border-bottom: 1px solid #EFEFEF;
    right: -40px;
}

/*
.widget h2 > .widget_title_span {
    position: relative;
    display: inline-block;
}
*/

.navigation .next-posts {
    position: relative;
    float: left;
}

.navigation .prev-posts {
    position: relative;
    float: right;
    margin-right: 0;
}

.page-template-blog-template-fullwidth-php .navigation .prev-posts {
    margin-right: 70px;
}

.page-template-blog-template-leftsidebar-php .navigation .prev-posts {
    margin-right: 0;
}

.nav-previous,.nav-next,.next-posts,.prev-posts,#pbd-alp-load-posts a,#pbd-alp-load-newer-posts a,.btn-contact-left input {
    padding: 5px 20px;
    border: none;
    font-weight: 600;
    font-size: 12px !important;
    letter-spacing: 0;
    text-transform: uppercase;
}

.next-posts a,.prev-posts a {
    color: #fff !important;
}

.nav-previous img, .nav-next img{
    opacity: 0.25;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.nav-previous:hover img, .nav-next:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}

.featured-image a img,
.recentcomments_listing a img,
.instagram_widget ul.instagram-pics li a img,
.footer_sidebar ul.instagram-pics li a img{
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.featured-image a:hover img{
    transform: scale(1.05);
}

.recentcomments_listing a:hover img,
.instagram_widget ul.instagram-pics li a:hover img,
.footer_sidebar ul.instagram-pics li a:hover img{
    opacity: 0.8;
}
.navigation .nav-title{
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 20px;
    text-transform: none;
    letter-spacing: 0px;
}
.nav-previous, .nav-next{width: 50%;float: left;padding: 0;margin: 0;position: relative;height: 200px;    background: #101010;
}
.nav-previous .navcontentens-side{
    margin: 60px;
    z-index: 2;
    position: relative;
    color: #fff;
}

.nav-next-thumb, .nav-previous-thumb{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    max-height: 200px;
    z-index: 1;
}
.nav-next-thumb img, .nav-previous-thumb img{
    background-position: left;
    max-width: 100%;
    min-width: 100%;
    left: 0;
    background-size: cover;
    float: left;
    display: block;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-next .navcontentens-side{
    margin: 60px;
    z-index: 2;
    position: relative;
    color: #fff;
}


#pbd-alp-load-posts {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 100px auto;
    text-align: center;
    z-index: 9999;
}

#pbd-alp-load-posts a {
    position: relative;
    margin-right: 10px;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 9px 19px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px !important;
    color: #f1f1f1 !important;
    width: auto;
    display: inline-block;
    background: #212121;
    margin-top: 20px;
    font-family: Heebo, Arial;
    text-transform: uppercase;
    line-height: 1.5em;
}
#pbd-alp-load-posts a:hover{
    background-color: #da97a0;
    color: #fff;
}
.navigation a,#nav-below a {
    text-transform: capitalize;
}

.navigation a.page {
    color: #898c8e !important;
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
    margin-right: 0;
}

.postcontent {
    padding-bottom: 40px;
}

.single-post .postcontent {
    padding-bottom: 0;
}

#nav-below {
    /* margin: 40px 0 20px; */
}

.nav-previous i,.next-posts i {
    margin-right: 15px;
    font-size: 18px;
    position: relative;
    top: 2px;
    padding-left: 2px;
}

.nav-next i,.prev-posts i {
    margin-left: 15px;
}

/*pagination*/
.navigation {
    position: relative;
    margin: 50px auto !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 7px;
}
#nav-below.navigation {
    background: #f7f7f5;
    margin-bottom: 60px;
}
.blog-default-bg .post-listing .post:last-child .divider-posts{
    display: none;
}
.page-template-blog-masonry-template .page_content .navigation, .page-template-blog-masonry-grid-template .page_content .navigation {
    margin: 50px auto 0;
    text-align: center;
    width: auto;
    display: table;
}

.des-pages {
    position: relative;
    display: inline-block;
}

.wideblog .des-pages {
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: table;
}

.des-pages .pages {
    color: #fff;
    border: none;
    border-radius: 0;
    text-decoration: none;
    position: relative;
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0px;
    background: #101010;
    padding: 3px 15px;
    margin: 0px 5px 0;
}

.des-pages .postpagelinks,.des-pages a .postpagelinks,.navigation a.page {
    text-transform: capitalize;
    font-size: 12px;
    position: relative;
    font-family: Arial;
    margin: 0 5px;
    float: left;
    display: block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 0 !important;
    text-align: center;
}

.des-pages .postpagelinks, .des-pages a .postpagelinks, .navigation a.page {
    font-weight: 600;
}

.des-pages .postpagelinks {
    background: #fff;
    color: #F0A591;
    border: 1px solid #F0A591;
}

.des-pages a .postpagelinks,.navigation a.page {
    background: #fafafa;
    border: 1px solid #ededed;
    color: #444;
    text-align: center;
}

.single .navigation {
    margin: 0px !important;
}

.des-pages .page:hover {
}

.posts-shares {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.share-buttons {
    width: 100%;
    display: table;
    text-align: center;
    padding: 90px 0 40px;
}

.share-buttons h5,
h3.related_posts_title{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 600;
}
.single-extras > .vc_row-fluid{background:#f2f2f2;padding: 80px 0;margin-top: 40px;}

.single-extras .vc_row-fluid:not(.navigation .vc_row-fluid) .vc_column-inner{
    padding: 0;
}

.single-post .share-buttons h5 {
    text-align: center;
}

.comments-lovepost {
    margin-top: 3px;
}

.social-shares {display: inline-block;padding: 0;}

.social-shares ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-shares ul li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-shares ul li a {
    display: block;
    float: left;
    color: inherit;
    margin: 0 0 0 0;
    background-image: none;
    font-size: 12px;
}

.social-shares ul li a:hover {
    color: #333;
}

.social-shares ul li a:hover i {
    color: #9d9d9d;
}

.share-pinterest {
    background-image: none !important;
}

.social-shares ul li i {
    display: inline-block;
    font-size: 18px;
    color: #313131;
    margin-right: 7px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

/* Blog Single */
.post-content,.about-author,#comments,.prev-next-btn {
    padding: 0;
    width: 96%;
}

#blog .post-content {
    padding: 20px;
    margin-bottom: 20px;
}

#blog .single .post-content {
    padding: 0;
    margin-bottom: 0;
}

.sticky .post-content {
    padding: 30px;
    border: 2px solid #e4e4e4;
}

.blog-normal .sticky .post-content {
    padding: 0 20px 20px;
}

#blog .post-content .flexslider,#blog .post-content .video-thumb,#blog .post-content .flexslider,#blog .post-content .featured-image img {
    margin-bottom: 20px;
}

#blog .format-audio .post-content {
    padding-bottom: 0;
}

.format-audio h2.post-title,.format-audio .post-summary,.format-audio .metas {
    position: relative;
    top: -20px;
}

.about-author {
    padding: 0;
    margin: 0 0 10px;
}

/* Comments */
ol.commentlist,.single ol.commentlist ul {
    list-style: none;
}

article.comment {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 25px;
}

.comment-author {
    position: relative;
    float: left;
    width: 80px;
    text-align: center;
    top: 5px;
}

#respond {
    position: relative;
    float: left;
}

#respond .p-button {
    margin: 40px 0 10px;
}

.comment-block {
    position: relative;
    padding-left: 100px;
}

.comment-meta {
    position: relative;
    float: left;
    display: inline-block;
    margin: 15px 15px 30px 0;
}

.comment {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    margin: 0;
    list-style: none;
    /* margin-bottom: 25px; */
}

.commentmetadata {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.commentmetadata,.single .reply {
    position: relative;
    margin: 25px;
}

.commentmetadata a,.single .reply a {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    font-family: Arial;
}

.commentmetadata a:hover,.single .reply a:hover {
    opacity: 1;
}

#comments .depth-1 {
    padding-left: 0;
}



#comments #respond label,#comments #respond input,.single #respond textarea {
    position: relative;
    float: left;
}

#comments #commentform p.form-allowed-tags {
    display: none;
}

#comments #commentform p {
    position: relative;
    display: inline-block;
}

#comments #commentform input,#comments #commentform label,#comments #commentform label textarea {
    position: relative;
    display: block;
    clear: both;
}

#comments #commentform input {
    font-weight: 700;
    border-radius: 0;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border: 2px solid #dcdcdc;
    background: #fff;
}

#comments #commentform input:focus {
    background: #fff;
    border: 1px solid #E0E0E0;
}

#comments #commentform input[type="submit"],#comments #commentform input:focus[type="submit"] {
    border: none !important;
}

#comments #commentform .comment-form-comment label {
    float: none;
}

#comments .comment-author .fn,#comments .comment-author .fn a {
    font-style: normal;
    position: relative;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: normal;
    display: inline-table;
    letter-spacing: 0;
    margin-top: 0;
}

#comments .blog-date{opacity: 0.6;display: inline-block;}
.comment-form-cookies-consent{width: 100%}
#respond #commentform input[type="checkbox"]{width: auto;position: absolute;top: 7px;}
.comment-form-cookies-consent label{margin-left: 20px}

.page #comments .comment-author .fn{margin-bottom: 5px;}

#respond #commentform input[type="checkbox"]{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

#respond #commentform input[type="radio"]{
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

#respond .comment-author img {
    /* max-width: 60% !important; */
    /* float: left; */
    border: 1px solid #e0ddda;
    margin-top: -10px;
}
.comment-form-cookies-consent label{font-size: 13px;}
.metas-comments p,.metas-comments p a {
    /* color: #a2a1a1; */
    font-weight: normal;
    /* letter-spacing: 2px; */
    font-size: 13px;
    /* text-transform: uppercase; */
    float: left;
    margin: -1px 10px 0 0 !important;
    opacity: 0.7;
}

.single #comment-form .form-submit #submit {
    position: relative;
    float: left;
    margin-top: 15px;
}

#respond {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

#respond h2 {
    text-align: left;
    text-transform: uppercase;
}

#respond textarea, #respond input:not([type="submit"]){
    width: 100%;
    border: 1px solid #ddd;
    font-weight: normal;
    padding: 6px;
    background: #f9f9f9;
    outline: none;
}

#respond input:focus,#respond #comment:focus {
    border: 1px solid #E0E0E0;
    color: #777;
    background: #fff;
    outline: none;
}

#respond #comment {
    color: #777;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: normal;
    border: 2px solid #dcdcdc;
    background: #fff;
}


#commentform {
    position: relative;
    float: left;
    margin-top: 0;
    width: 100%;
}

.logged-in-as {
    margin-bottom: 20px;
}

.commentlist {
    position: relative;
    float: left;
    width: 100%;
}

.comment-reply {
    background: #FFF;
    padding: 20px 30px;
    border: 1px solid #ddd;
}

.post-listing .post blockquote, .single-post .post-quote blockquote {
    font-size: 2em;
    font-weight: 100;
    padding: 0 !important;
    letter-spacing: 0;
    word-wrap: break-word;
    text-align: center;
    line-height: 1em;
    /* font-family: Georgia; */
    font-size: 2.5em !important;
    /* font-style: italic; */
    font-family: Roboto, Helvetica Neue, Arial;
}

.post-listing .post .post-content blockquote {
    font-size: 21px;
    font-family: Roboto, Helvetica Neue, Arial;
    font-weight: 100;
    padding: 0;
    letter-spacing: 0;
    word-wrap: break-word;
    text-align: left;
    font-style: normal;
}

.post-content blockquote i,.post-listing .post blockquote i {
    font-size: 26px;
    vertical-align: super;
    /* color: #fff !important; */
}

blockquote {
    padding: 10px 20px;
    margin-left: 20px;
}

blockquote,blockquote p {
    margin: 20px 0px !important;
    border-left: 3px solid;
    /* font-style: italic; */
    font-size: 1.05em !important;
    font-family: Roboto Slab, Georgia;
    /* line-height: 1.40em !important; */
    padding-left: 30px !important;
    background: #f7f7f7;
    padding: 40px !important;
}

.page-template-blog-masonry-template blockquote,
.page-template-blog-masonry-template blockquote p,
.page-template-blog-masonry-grid-template blockquote,
.page-template-blog-masonry-grid-template blockquote p,
.page-template-blog-template blockquote,
.page-template-blog-template blockquote p{
    color: #fff;
}
table {
    width: 100%;
    background: #fff;
}

.post-content a .post-quote {
    padding: 15px 30px;
}

.post-content a:hover .post-quote {
    background-color: red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    background: #f2f2f2;
    font-weight: 700;
}

table td,table th {
    padding: 14px;
    border: 1px solid #ddd;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background: #f5f5f5;
}

caption,th,td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}

tbody tr:last-child {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.post-password-form input {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px 5px;
}

.post-password-form input[type="submit"] {
    background: #545454;
    border: none;
    padding: 6px 18px;
    color: #f2f2f2;
}

.post-password-form input[type="submit"]:hover {
    background: #3F3F3F;
}

.comment-form-author,.comment-form-email,.comment-form-url {
    width: 32%;
    float: left;
    margin-right: 2%;
}

.comment-form-url {
    margin-right: 0;
}

.comment-form-comment {
    width: 100%;
    margin-top: 15px;
}

.comment-notes {
    margin-bottom: 40px;
}

/* Comments */
.single ol.commentlist,.single ol.commentlist ul {
    list-style: none;
}

article.comment {
    position: relative;
    float: left;
    clear: both;
    min-height: 100px;
}

.comment-author {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}

.single #respond {
    position: relative;
    float: left;
    /* margin-bottom: 40px; */
}

.single #respond .p-button {
    margin: 40px 0 10px;
}
h3#comments-title{
    letter-spacing: normal;
    font-size: 28px;
    font-weight: 500 !important;
    margin-bottom: 30px;
    text-align: center;
    /* font-family: Georgia; */
    /* font-style: italic; */
    letter-spacing: -1px;
}
h3#comments-title span{
    letter-spacing: normal;
    font-size: 18px;
    font-weight: normal !important;
    margin-bottom: 10px;
    text-align: left;
    /* font-family: Heebo, Arial; */
    font-style: normal;
    width: 100%;
    float: left;
    margin-top: 10px;
    opacity: 0.5;
}
h3#comments-title,
#comment-nav-above h1.section-heading{
    letter-spacing: normal;
    font-size: 20px;
    font-weight: normal !important;
    margin-bottom: 0;
    text-align: left;
}

#comment-nav-above{
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

#comment-nav-above h1.section-heading{
    margin-bottom: 20px;
    font-size: 16px;
    margin: 0 0 20px;
}
.comment-block {
    position: relative;
    /* margin-left: 10px; */
    height: auto;
    /* padding: 20px; */
    /* display: grid; */
    /* border: 1px solid #f3f3f3; */
}
.comment-body{
    width: 100%;
    float: left;
    margin: 0;
}
.metas-comments{
    width: 100%;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
.comment-meta {
    position: relative;
    float: left;
    display: inline-block;
    margin: 15px 15px 30px 0;
}

.comment {
    position: relative;
    float: left;
    width: 100% !important;
    clear: both;
    list-style: none;
    /* padding: 0; */
    /* margin: 0 0 10px; */
    border-radius: 0;
}

.commentmetadata {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.commentmetadata,.reply {
    position: relative;
    margin: 10px 0;
    opacity: .3;
    left: -15px;
}

.commentmetadata a,.reply a {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    font-family: Arial;
    padding-left: 15px;
}

.the_comments .depth-1 {
    padding-left: 0;
}



#respond label,.single #respond input, #respond textarea {
    position: relative;
    float: left;
}

#commentform p.form-allowed-tags {
    display: none;
}

#commentform p {
    position: relative;
    display: inline-block;
}

#commentform input,#commentform label,#commentform label textarea {
    position: relative;
    display: block;
    clear: both;
    font-weight: normal;
    margin-bottom: 10px;
}

#commentform .comment-form-comment label {
    float: none;
}

#commentform .form-submit #submit {
    position: relative;
    float: left;
    margin-top: 15px;
    padding: 10px 16px;
    background: #101010;
    color: #fff;
    padding: 9px 19px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px !important;
    color: #f1f1f1 !important;
    width: auto;
    display: inline-block;
    background: #212121;
    margin-top: 20px;
    font-family: Heebo, Arial;
}
.commentlist {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0 60px;
}
.archive .the_title h2 a, .page-template-blog-template .the_title h2 a, .home.blog .blog-default.wideblog .container .the_title h2 a{letter-spacing: 0px;line-height: 1.1em;}
.comment-reply {
    background: #FFF;
    padding: 20px 30px;
    border: 1px solid #ddd;
}

.post-content blockquote {
    font-size: 2em;
    color: #373737;
    font-family: Georgia;
    font-weight: 100;
    padding: 40px 30px;
    letter-spacing: 0;
    word-wrap: break-word;
}

.author-quote {
    font-size: 1em;
    color: #fff;
    text-align: center;
    float: none;
    display: block;
    font-size: 13px !important;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 60px;
    font-weight: normal;
}
.blog-default-bg-masonry .author-quote{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 4px;
    opacity: 0.7;
    color: #fff;
}
.post-listing .post .blog-default-bg-masonry blockquote,
.page-template-blog-masonry-template .post-listing .post .blog-default-bg-masonry blockquote,
.page-template-blog-masonry-grid-template .post-listing .post .blog-default-bg-masonry blockquote,
.page-template-blog-template .post-listing .post blockquote,
.single-post .post-quote blockquote {
    color: #fff !important;
}
.single-post .post-quote blockquote{margin-bottom: 3em;}
.post-listing .post .blog-default-bg-masonry  .post-quote {
    background: #43b8de;
    overflow: hidden;
}

.post-content a:hover .post-quote blockquote,.post-content a:hover .post-quote blockquote .author-quote,.post-listing .post a:hover .post-quote blockquote,.post-listing .post a:hover .post-quote .author-quote,.post-listing .post a:hover .post-quote blockquote .author-quote {
    color: #fff;
}

.share-post {
    padding: 50px 0 20px;
    border-top: 1px solid #F7f7f7;
    margin-top: 60px;
}

#commentform p.comment-notes {
    width: 100%;
}

/* css from larch-html version [relativo ao blog masonry] */
.journalwidth.medium {
    width: 75%;
    margin: 0 auto;
}

.journalwidth.big {
    width: 95%;
    margin: 0 auto;
}

.readmore {
    width: auto;
    margin: 0 8px 0 1px;
    padding: 2px 10px;
    height: 30px;
    display: inline-block;
    float: left;
}

.readmore a {
    color: #fff;
    font-size: 11px;
    line-height: 2.5em;
}

.journal,.journal .journal-post {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}

.journal {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}

.journal .journal-post {
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -ms-transition-property: -ms-transform,opacity;
    -o-transition-property: -o-transform,opacity;
    transition-property: transform,opacity;
}

/* .journal-sidebar .journal-post{margin-bottom: 15px !important;} */
.journal .post-audio audio {
    position: relative;
    width: 100%;
}

.journal .post-audio audio.ie {
    height: 40px;
}

#comments {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin: 80px 0;
}

.about-author {
    margin: 50px auto;
    padding: 35px 30px;
    width: 70%;
    position: relative;
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    text-align: center;
}

.about-author h5, .about-author h5 a {
    margin-top: 30px !important;
    font-size: 16px !important;
    text-align: center;
    letter-spacing: normal;
}

.post-content {
    overflow: hidden;
    width: 100%;
    margin: 0;
    text-align: left;
    /* border: 1px solid #ededed; */
    text-align: center;
}

.dark-section .post-content,.dark-section .about-author,.dark-section #comments,.black-section .post-content,.black-section .about-author,.black-section #comments {
    background: #1C2024;
    border: 1px solid #21262B;
}

.comment-body p {
    text-align: left !important;
}

h2.post-title {
    font-size: 21px;
    font-weight: 800;
    margin: 30px 0 20px;
}

h2.post-title a {
    font-size: 25px;
    padding: 0;
    letter-spacing: 0;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
}

.tags a {
    color: #D0D0D0;
}

h2.post-title.post-link {
    margin: 0;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    width: 100%;
}

.archive h2.post-title.post-link {
    margin-top: 0;
    margin-bottom: 20px;
}

h2.post-title.simple-text {
    margin: 0 0 20px;
}

.post-content .featured-image img {
    width: 100%;
}

.post-content .ms-showcase2-template {
    padding-bottom: 45px !important;
}

.metas {
    position: relative;
    margin: 0;
    padding: 5px 0;
    margin: 40px auto 0;
    text-align: center;
    display: table;
}

.metas p,.lovepost a {
    font-size: 11px !important;
    margin: 0;
    color: #969696 !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px !important;
    font-family: Heebo, Arial;
}
.metas p:last-child{margin-right: 0 !important;}
.metas a{font-size: 11px !important;color: #969696 !important;font-weight: 600 !important;}
.metas a:hover{color: #101010 !important;}
.des_recent_posts_widget .title {
    margin: 0 0 10px;
}
.blog-default-bg-masonry .metas {
    position: absolute;
    padding: 0;
    text-align: left;
    z-index: 9999;
    top: 0;
    margin: 20px 0 0 20px;
}
.text .blog-default-bg-masonry .metas{
    position: relative;
}
.page-template-blog-masonry-template .metas p:not([data-rel="metas-categories"]):not([data-rel="metas-tags"]),
.page-template-blog-masonry-grid-template .metas p:not([data-rel="metas-categories"]):not([data-rel="metas-tags"]),
.archive .masonry .metas p:not([data-rel="metas-categories"]):not([data-rel="metas-tags"]){
    font-size: 11px !important;
    margin: 0;
    color: #ffffff !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    margin-right: 5px;
    background: rgba(42, 44, 49,0.8);
    padding: 4px 8px 2px;
    font-family: Heebo, Arial;
}
.search .result_type_tag{
    font-size: 11px !important;
    margin: 0;
    color: #ffffff !important;
    font-weight: 600 !important;
    letter-spacing: 0;
    text-transform: uppercase;
    /* float: left; */
    /* margin-right: 10px; */
    background: rgba(42, 44, 49,0.2);
    padding: 1px 4px;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    line-height: 15px;
}
.page-template-blog-masonry-template .metas p[data-rel="metas-tags"],
.page-template-blog-masonry-grid-template .metas p[data-rel="metas-tags"],
.archive .masonry .metas p[data-rel="metas-tags"]{
    margin-right: 0;
    margin-bottom: 0 !important;
}
.search .has-post-thumbnail .result_type_tag{
    position: absolute;
    z-index: 9;
    margin: 10px;
}
.page-template-blog-masonry-template .metas a:not(.the_author),
.page-template-blog-masonry-grid-template .metas a:not(.the_author):not(.title_link),
.archive .masonry .metas a:not(.the_author){
    font-size: 11px !important;
    margin: 0;
    color: #ffffff !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    margin-right: 5px;
    padding: 4px 8px 2px;
    margin-bottom: 5px;
    font-family: Heebo, Arial;
}

.page-template-blog-masonry-template .metas-tags a,
.page-template-blog-masonry-grid-template .metas-tags a,
.archive .masonry .metas-tags a{
    margin-bottom: 5px !important;
}
.page-template-blog-masonry-template .metas a:hover,
.page-template-blog-masonry-grid-template .metas a:hover,
.archive .masonry .metas a:hover{
    opacity: 0.8;
}
.page-template-blog-masonry-template .metas a,
.page-template-blog-masonry-template .metas a:hover,
.page-template-blog-masonry-grid-template .metas a,
.page-template-blog-masonry-grid-template .metas a:hover,
.archive .masonry .metas a:hover,
.archive .masonry .metas a{color: #fff !important;}
.des_recent_posts_widget .metas {
    margin: 10px 0;
}

body .widget.des_recent_posts_widget .flexslider .flex-control-nav{
    margin-left: 20px;
    bottom: 10px !important;
}
.des_recent_posts_widget .audioContainer {
    margin: 0 0 25px !important;
}

.post-type i {
    display: table-cell;
    vertical-align: middle;
    font-size: .9em;
}

.post-type {
    width: 39px;
    height: 39px;
    color: #fff;
    position: relative;
    float: left;
    display: table;
    text-align: center;
    font-size: 14px;
    background: #F0A591;
}

.metas .date {
    position: relative;
    display: inline-block;
    margin: 5px 0 0;
    float: left;
}

.metas .comments,.metas .tags {
    position: relative;
    display: inline-block;
    float: right;
    top: 14px;
    margin-right: 10px;
}

.journalwidth.big {
    width: 95%;
    margin: 0 auto;
}

.journalwidth.medium {
    width: 75%;
    margin: 0 auto;
}

.view-all-posts {
    width: 100%;
    text-align: center;
    position: relative;
}

.next-post {
    float: right;
}

.about-author .img-container {
    float: left;
}

.blog-single .featured-image {
    max-height: 350px;
    overflow: hidden;
}

.quote-nopadding .metas {
    margin: 0;
}

ol ul,ul ul ol,ul ol {
    margin: 0;
}

.flex-control-nav {
    bottom: 20px !important;
    position: absolute;
}

#twitter-feed .flex-control-nav {
    bottom: 0 !important;
}

#home-slider .flex-control-nav {
    bottom: -40px !important;
    display: none;
}

.page-template-blog-masonry-template .post-listing, .page-template-blog-masonry-grid-template .post-listing {
    padding: 0 0 50px;
    overflow: inherit !important;
}

#primary_footer .footer_sidebar > h4,
#primary_footer .footer_sidebar > .widget > h4,
#primary_footer .widget .widget-contact-content h4,
#primary_footer .widget h4,
#primary_footer .widget .widget-contact-content > h4{
    margin-bottom: 30px !important;
    text-transform: none;
    margin-top: 0;
    letter-spacing: 1px;
    text-align: left;
    width: 100%;
    border: none;
    padding: 0;
}

#primary_footer ul,
#primary_footer .widget h4,
#primary_footer .mail-box{display: inline-block !important;}

#primary_footer .widget h4:after{display: none;}


#primary_footer .footer_sidebar .menu-testing-menu-container{float: left;}
/* Start: LAYERS */
.mejs-background {
    position: absolute;
    top: 0;
    left: 0;
}

.audioContainer {
    float: left;
    width: 100%;
    margin: 60px 0px 30px 0px;
    z-index: 99999;
    position: relative;
}

.page-template-blog-template .audioContainer {
    margin: 25px 0;
}

.page-template-blog-template .audioContainer audio {
    width: 100%;
}

.audioContainer audio {
    width: 100%;
}

.page-template-blog-template .audioContainer,.archive .audioContainer {
    margin: 40px 0 40px;
    text-align: center;
}

audio {
    float: left;
}

.footer_sidebar #twitter-feed ul li {
    border: none;
    list-style: none;
    line-height: 1.4em;
    background-color: transparent !important;
}

.footer_sidebar #twitter-feed ul li a {
    border: none;
    display: inline;
}

.footer_sidebar #twitter-feed ul li a:after {
    display: none;
}

.footer_sidebar .twitter-container .bird {
}

.footer_sidebar .twitter-container .bird {
    top: 0;
    background: transparent;
}

.footer_sidebar .twitter-container .bird i {
    font-size: 40px;
}

.footer_sidebar .twitter-container .tweet_list {
    padding: 0 !important;
    margin: 20px auto !important;
}

.footer_sidebar .twitter-container .twitter-author {
    margin: 0;
}

.page-template-blog-template .page_content.sidebar .widget.widget_categories li,.single-post .page_content.sidebar .widget.widget_categories li,.page-template-blog-template .page_content.sidebar .widget.widget_archive li,.single-post .page_content.sidebar .widget.widget_archive li,.archive .page_content.sidebar .widget.widget_archive li,.archive .page_content.sidebar .widget.widget_categories li {
    /* border-top: 1px solid #ededed; */
}

.page-template-blog-template .post-quote {
    margin-bottom: 25px;
    border-radius: 5px;
}

.page-template-blog-masonry-template .posts_category_filter, .page-template-blog-masonry-grid-template .posts_category_filter{
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}

.page-template-blog-masonry-template .posts_category_filter li, .page-template-blog-masonry-grid-template .posts_category_filter li {
    position: relative;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    color: #909090;
    font-size: 12px;
    font-style: normal;
    line-height: 35px;
    margin: 0 15px;
    padding: 0;
    font-family: 'Heebo', 'Arial', 'sans-serif', sans-serif;
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.posts_category_filter li.disable {
    display: none !important;
}

.page-template-blog-masonry-template .posts_category_filter li:first-child, .page-template-blog-masonry-grid-template .posts_category_filter li:first-child {
    margin-left: 0;
}

.des_recent_posts_widget .title a {
    font-weight: 600 !important;
}

.nav-previous a,.nav-next a,.next-posts a,.prev-posts a {
    font-weight: 700 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 1px;
}

.nav-previous,.nav-next,.next-posts,.prev-posts {
    border-radius: 0 !important;
    cursor: pointer;
}

#commentform .form-submit #submit {
    /* font-weight: 600 !important; */
    padding: 8px 20px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border: none;
}

#commentform .form-submit #submit:hover {
    background-color: #303030;
}

.single.single-post #main .page_content:not(.sidebar) .the_title {
    display: none;
}

.single-post h1.page_title, .blog h1.page_title, archive h1.page_title{
    font-weight: bold;
}
.single-post .center h1.page_title {
    line-height: 1.3em;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}
h2.secondaryTitle {
    max-width: 50%;
}
.titlesleftcrumbsright h2.secondaryTitle {
    max-width: 100%;
    letter-spacing: 0px;
}

.page-template-blog-template .wideblog .post-listing, .single-post .blog-default-bg, .archive .wideblog .post-listing .blog_excerpt{
    max-width: 90%;
    margin: 0 auto;
}
.single-post .page_content.left .blog-default-bg, .single-post .page_content.right .blog-default-bg{
    max-width: 100%;
}

.post-listing .metas-container {
    /* display: table; */
    text-align: left;
    margin: 0 auto;
    width: 100%;
    float: left;
}
.page-template-blog-template .post-listing .metas-container{
    margin: 5px 0 30px 2px;
}

.page-template-blog-template .divider-posts,
.archive .divider-posts {
    margin: 60px auto;
}

.home.blog .wideblog .post-listing .blog_excerpt {
    padding: 15px 0 !important;
    margin-bottom: 0;
}


.page-template-blog-masonry-template .flex-control-paging li a.flex-active, .page-template-blog-masonry-grid-template .flex-control-paging li a.flex-active{
    background: #ffffff !important;
}
.page-template-blog-masonry-template .posts_category_filter li:hover, .page-template-blog-masonry-grid-template .posts_category_filter li:hover{
    color: #212121;
}
.post-listing .metas-container{opacity: 1;}
.post-listing .metas-container a:hover{opacity: 1;}

#primary_footer .footer_sidebar table thead th, #primary_footer .footer_sidebar table td, #primary_footer .footer_sidebar table th, #primary_footer .footer_sidebar .wp-caption{
    background: #101010;
    font-weight: 700;
    text-align: center;
}
#primary_footer .footer_sidebar table td#today{
    background: #333;
}
#primary_footer .footer_sidebar select{
    width: 100%;
}
#primary_footer .footer_sidebar .widget_archive li {
    white-space: pre;
}

#primary_footer .footer_sidebar .widget_rss li {
    white-space: pre-wrap;
    line-height: 1.7em;
}

#primary_footer .footer_sidebar .widget_rss li a {
    line-height: 1.7em;
}

#primary_footer .footer_sidebar .widget_rss li:after {
    top: 18px;
}
#comment-nav-below .nav-previous, #comment-nav-below .nav-next{background: transparent !important;padding: 0 !important;margin: 20px 0;}
#comment-nav-below .nav-previous a, #comment-nav-below .nav-next a{
    padding: 12px 15px !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
    background-color: #c1c1c1 !important;
    color: #fff !important;
}
#comment-nav-below .nav-previous a:hover, #comment-nav-below .nav-next a:hover{
    background-color: #303030 !important;
    color: #fff !important;
}
.authoravatar{float: left;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}

.authorname-metas{margin: 10px 10px 10px 100px;}
.authorname-metas .fn, .authorname-metas .fn a{text-transform: capitalize;/* font-weight: bold; */font-size: 17px;font-weight: 600;color: #545353;}

.comment-author img, .authoravatar img, .comment-author img:hover, .authoravatar img:hover{border: 1px solid #d8d7d6 !important;}

article.post .flexslider .slides,
article.post .featured-image{
    position: relative;
}
.page-template-blog-template article.post .flexslider .slides,
.page-template-blog-template article.post .featured-image,
.archive article.post .flexslider .slides,
.archive article.post .featured-image{
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.page-template-blog-template .page_content.col-md-12 article.post .featured-image{
    max-height: 400px;
}
.page-template-blog-template article.post .fullwidth_media_wrapper .featured-image,
.page-template-blog-template .page_content.col-md-12 article.post .fullwidth_media_wrapper .featured-image{
    max-height: 500px;
}
.page-template-blog-template .page_content.col-md-12 .the_title h2 a{
    font-size: 2em !important;
}

article.post.category-quote .the_title, article.post.category-quote .metas-container{display: none !important;}
.post-listing .post a:hover .post-quote{opacity: 0.8;}

.full-width-nav > div {
    width: 100%;
}
.full-width-nav .nav-next-thumb img, .full-width-nav .nav-previous-thumb img {
    width: 100%;3
margin-top: -20%;
}

.recentcomments_listing li{
    display: inline-flex;
}

.recentcomments_listing .contents-left{
    position: relative;
    left: 0;
    float: left;

}
.recentcomments_listing .contents-right{
    position: relative;
    float: left;
}

.recentcomments_listing .contents-left img{
    max-width: 60px;
    margin-right: 20px;
    border: 1px solid #e4e4e4;
}
.content-left-author span, .content-left-author a{font-size: 13px !important;opacity: 0.7;}
.content-left-author{position: relative;top: 0;text-transform: capitalize;}

.page-template-blog-masonry-template .flex-control-nav, .page-template-blog-masonry-grid-template .flex-control-nav{
    bottom: 10px !important;
    width: auto;
    right: 20px;
    top: 20px;
    z-index: 101;
}

.page-template-blog-template .featured-image a, .page-template-blog-template .featured-image a img{width: 100%;}
.featured-image-box{
    position: relative;
    text-align: center;
}
.search .featured-image-box{
    margin-bottom: 15px;
}
.search .results_excerpt{
    font-size: 0.93em;
    line-height: 1.6em;
    display: inline-block;
}
.author-thumbnail{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -44px;
    z-index: 9999;
}

.page-template-blog-template .blog-read-more,
.archive .blog-read-more,
.page-template-blog-template .more-link,
.archive .more-link{
    padding: 9px 19px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px !important;
    color: #f1f1f1 !important;
    width: auto;
    display: table;
    background: #212121;
    margin-top: 25px;
    font-family: Heebo, Arial;
    text-transform: uppercase;
    /* float: left; */
}
body.page-template-blog-template .blog-read-more:hover,
body.archive .blog-read-more:hover{
    background: #da97a0 !important;
    color: #fff !important;
}
body .page-template-blog-template .blog-read-more:hover,
body .archive .blog-read-more:hover{
    border: 2px solid #212121 !important;
    background: #212121 !important;
    color: #FFF !important;
}
.page-template-blog-masonry-template .more-link,
.page-template-blog-masonry-grid-template .more-link,
.archive .isotope .more-link{
    display: none;
}
/* Instagram Widget*/
.instagram_widget .instagram-pics {
    top: 5px !important;
    margin-left: -5px;
}
.instagram_widget ul.instagram-pics li{
    width: 33%!important;
    float: left;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.footer_sidebar ul.instagram-pics li {
    width: 25%!important;
    float: left;
    list-style: none;
    margin: 0;
    border: 0;
    padding: 2px;

}
.instagram_widget ul.instagram-pics li a{
    padding: 2px 2px 0!important;
}
.footer_sidebar ul.instagram-pics li a {
    padding: 0 0 0 5px !important;
}

.comments-masonry{
    position: absolute;
    top: -15px;
    right: -10px;
}
.comments-masonry{
    font-size: 13px;
    color: #979a9e;
    opacity: 0.7;
}
.comments-masonry span{
    font-family: Helvetica, Arial;
}
.widget_title_span .rsswidget .rss-widget-icon{
    position: absolute;
    right: 0px;
    top: 2px;
}
.journal .journal-post.sticky{width: 100% !important;}
.widget h2 > .widget_title_span, .widget.des_cubeportfolio_widget h4, .widget.des_recent_posts_widget > h4, .sidebar .widget > h4, .widget .widget-contact-content > h4, .custom-widget h4 .widget_title_span{
    position: relative;
    display: table;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#primary_footer .widget .widget-contact-content h4, #primary_footer .widget h4, #primary_footer .widget .widget-contact-content > h4{
    text-align: center;
}
.widget.instagram_widget{margin-bottom: 60px;}
/* new animate on scroll feature */

/* BLOGS */

/* blog masonry */
.post-listing.isotope.larch-animate-posts.not-ready:before{content:""; position:absolute;top:0;right:0;bottom:0;left:0;background:white;z-index:9;}

.post-listing.isotope.larch-animate-posts.not-ready article{-webkit-transition: none !important;transition: none !important;}

.post-listing.isotope.larch-animate-posts article, .post-listing.isotope.larch-animate-posts article > *{-webkit-transition: all .7s ease-out !important;transition: all .7s ease-out !important;}
.post-listing.isotope.larch-animate-posts article.not-in-view{ opacity: 0; }
.post-listing.isotope.larch-animate-posts article.not-in-view > *{-webkit-transform: translateY(400px);transform: translateY(400px);}
.post-listing.isotope.larch-animate-posts article:not(.not-in-view) > *{ -webkit-transform: translateY(0px);transform: translateY(0px); }

/* add a little delay on the second and third as the initial gutter has 3 columns */
.post-listing.isotope.larch-animate-posts article:nth-child(2) > *{-webkit-transition-delay: .3s  !important;transition-delay: .3s  !important;}
.post-listing.isotope.larch-animate-posts article:nth-child(3) > *{-webkit-transition-delay: .6s  !important;transition-delay: .6s  !important;}

/* blog normal */
.post-listing.larch-animate-posts article > *{-webkit-transition: all .7s ease-out !important;transition: all .7s ease-out !important; -webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
.post-listing.larch-animate-posts article.not-in-view > *{ opacity: 0; -webkit-transform: translateY(400px);transform: translateY(400px); }

/* SEARCH RESULTS */

/* search results normal */
.post-listing.larch-animate-results article > *{-webkit-transition: all .7s ease-out !important;transition: all .7s ease-out !important; -webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
.post-listing.larch-animate-results article.not-in-view > *{ opacity: 0; -webkit-transform: translateY(400px);transform: translateY(400px); }

/* search results masonry */
.post-listing.isotope.larch-animate-results.not-ready:before{content:""; position:absolute;top:0;right:0;bottom:0;left:0;background:white;z-index:9;}

.post-listing.isotope.larch-animate-results.not-ready article{-webkit-transition: none !important;transition: none !important;}

.post-listing.isotope.larch-animate-results article, .post-listing.isotope.larch-animate-results article > *{-webkit-transition: all .7s ease-out !important;transition: all .7s ease-out !important;}
.post-listing.isotope.larch-animate-results article.not-in-view{ opacity: 0 !important; }
.post-listing.isotope.larch-animate-results article.not-in-view > *{-webkit-transform: translateY(400px) !important;transform: translateY(400px) !important;}
.post-listing.isotope.larch-animate-results article:not(.not-in-view) > *{ -webkit-transform: translateY(0px) !important;transform: translateY(0px) !important; }

/* add a little delay on the second and third as the initial gutter has 3 columns */
.post-listing.isotope.larch-animate-results article:nth-child(2) > *{-webkit-transition-delay: .3s !important;transition-delay: .3s !important;}
.post-listing.isotope.larch-animate-results article:nth-child(3) > *{-webkit-transition-delay: .6s !important;transition-delay: .6s !important;}

/* ENDOF new animate on scroll feature */
