/*
  Theme Name: Larch
  Author: UpperThemes
  Author URI: http://upperthemes.com

  NEW VC SHORTCODES CSS
*/

/***************************************************************
					    SPECIAL TABS
***************************************************************/

/* new stuff December, 2017 */
/* vertical tabs frontend editor little tweaks */
.vc_verticaltabs .special_tabs{z-index: 9;overflow: visible;}

.vc_verticaltabs .special_tabs.vertical .tab-container > .content:not(.current){position: absolute;margin-top:100%;top:0%;opacity: 0;}
.vc_verticaltabs .special_tabs.vertical .tab-container > .content.current{position: relative;}

.vc_verticaltabs .special_tabs.horizontal .tab-container > .content:not(.current){position: absolute;top:0%;opacity: 0;margin-left:0%;}
.vc_verticaltabs .special_tabs.horizontal .tab-container > .content.current{position: relative;}

.vc_verticaltabs .special_tabs .tab-container > .content .vc_vc_column_inner.vc_empty{z-index: 9;}
.vc_verticaltabs .special_tabs > p.vc_element-container{min-height: 0px!important;margin:0px;}

.vtabs_hover_helper{opacity: 1 !important;visibility: visible !important;}
.vtabs_hover_helper .vc_control-btn-append{display: none !important;}
.vertical_tabs_hover_helper{overflow: visible !important;}

.vc_element.vc_verticaltabs{width: 100%;float: left;margin-bottom: 50px;}
.vc_element.vc_verticaltabs > .vc_controls.vc_controls-container .vc_controls-bc{height: 100%;}
.vc_element.vc_verticaltabs > .vc_controls.vc_controls-container .vc_controls-bc a.vc_control-btn.vc_control-btn-append{top:100%;}

.vc_verticaltab > .vc_controls.vc_empty-element:after{content:"" !important;display:none;}

.vc_element.vc_verticaltabs .vc_verticaltab .vc_controls-out-tl .vc_element-move{pointer-events: none;}
.vc_element.vc_verticaltabs .vc_verticaltab .vc_controls-out-tl .vc_element-move i{display:none;}
.vc_element.vc_verticaltabs .vc_verticaltab .vc_controls-out-tl .vc_element-move span{padding-left:10px!important;}

.vc_element.vc_verticaltabs .special_tabs.vertical.icon .vtabs_hover_helper{margin-top: -10px!important;}
.vc_element.vc_verticaltabs .special_tabs.vertical.text .vtabs_hover_helper, .vc_element.vc_verticaltabs .special_tabs.vertical.icontext .vtabs_hover_helper{margin-top: -30px!important;}
.vc_element.vc_verticaltabs .special_tabs.horizontal .vtabs_hover_helper{margin-top: -40px!important;}
.vc_element.vc_verticaltabs .special_tabs.horizontal.icon .vtabs_hover_helper{margin-top: -10px!important;}
.vc_element.vc_verticaltabs .special_tabs.horizontal.icontext .vtabs_hover_helper{margin-top: -35px!important;}
.special_tabs.icontext.horizontal .label.current .title a:hover, .special_tabs.icontext.vertical.current .label .title a:hover{color: #fff !important;}
/* endof vertical tabs frontend editor little tweaks */


.special_tabs{
    position: relative;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0 0;
    width: 100%;
    padding: 3px 0;
}

.special_tabs .tab-container{
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}
.special_tabs .tab-container .content{
    max-width: 100%;
    width: 100%;
    padding: 0px 0 10px 30px;
}
.special_tabs.icon .tab-container .content{
    padding: 10px 0 10px 50px;
}
.special_tabs .tab-selector .label:last-child{
}
.special_tabs h2.title{
    position: relative;
}
.special_tabs .tab-selector{
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 0;
}


/* Just Icon */
.special_tabs.icon .larch_icon_special_tabs{
    height: 60px;
    position: relative;
    text-align: center;
    padding-bottom: 0;
    margin: 20px -15px;
    float: left;
    width: 60px;
    font-size: 20px;
    border: 2px solid #333;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.special_tabs.icon .larch_icon_special_tabs i{
    font-size: 22px !important;
    color: #333;
    display: table-cell;
    vertical-align: middle;
    height: 52px;
    width: 60px;
    padding-top: 8px;
}
.special_tabs .current .larch_icon_special_tabs i{color: #fff;}

.special_tabs.icon .label{
    position: relative;
    display: table;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}
.special_tabs.icon .label.current{
    padding-bottom: 0;
    border-right: none !important;
    top: 0;
    margin-top: 0;
}

.special_tabs.icon .label .title{
    display: none;
}

/* Text + Icon */
.special_tabs.icontext .larch_icon_special_tabs{
    position: relative;
    text-align: left;
    padding-bottom: 0;
    float: left;
    border: none;
    display: table;
    width: 30px;
    height: 20px;
    text-align: center;
}
.special_tabs.icontext .larch_icon_special_tabs i{
    font-size: 22px !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    top: 9px;
    position: relative;
    left: 8px;
}
.special_tabs.icontext .label{
    position: relative;
    display: table;
    cursor: pointer;
    z-index: 10;
    padding: 8px 10px;
    width: 98%;
    text-align: left;
    white-space: normal;
    border-bottom: none;
    background: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-wrap: break-word;
    word-break: break-word;
}

.special_tabs.icontext .label.current{
    background: #fff;
    width: 98%;
    border-right: none;
}
.special_tabs.icontext .label.current i,
.special_tabs.icontext .label.current a{
    color: #fff;
}
.special_tabs.icontext .label i{
    color: #474747;
}
.special_tabs.icontext .label a, .special_tabs.icontext .label a:hover, .special_tabs.text .label a, .special_tabs.text .label a:hover{
    font-size: 15px;
    color: #464646;
    font-family: 'Heebo', 'Arial', 'sans-serif';
    letter-spacing: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.special_tabs.icontext .label a,
.special_tabs.icontext .label a:hover{
    font-size: 14px;
    letter-spacing: 1px;
}
.special_tabs.icontext .label.current a, .special_tabs.text .label.current a{
    color: #fff;
}

.special_tabs.icontext .label .title{
    margin: 8px 0px 8px 23px;
    width: auto;
}
.special_tabs.icontext.vertical .label .title{
    margin: 11px 0px 10px 55px;
    width: auto;
}
.special_tabs.text .label.current a{
    /* font-size: 13px; */
}
.special_tabs.icontext .tab-container{
    top: -10px;
}
.special_tabs.icontext .tab-selector{
    padding: 0;
}


/* Text + Icon */
.special_tabs.text .larch_icon_special_tabs{
    display: none;
}
.special_tabs.text .larch_icon_special_tabs i{
    display: none;
}
.special_tabs.text .label{
    position: relative;
    display: table;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    width: 98%;
    text-align: left;
    border-bottom: none;
    white-space: normal;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #ff;
}
.special_tabs.text .label.current{
    background: #fff;
    width: 98%;
    border-right: none;
}
.special_tabs.text .label .title{
    margin: 5px !important;
    width: 98%;
}

.special_tabs.text .tab-selector{
    padding: 0;
}
.special_tabs.icontext .tab-selector .label:last-child, .special_tabs.text .tab-selector .label:last-child{
    border-bottom: 1px solid #ddd;
}


.special_tabs.icon .divider-vertical-tabs {
    left: 15px;
    top: 83px;
    width: 1px;
    background: #333;
    position: absolute;
    height: 34px;
}
.special_tabs.icon .tab-selector > div:last-of-type .divider-vertical-tabs{
    display: none;
}
.special_tabs .tab-selector > p.add-new-tab{
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
}
.special_tabs.icon .tab-selector > p.add-new-tab{left: -15px;}

/* new horizontal tabs */
.special_tabs.horizontal .tab-selector{
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
}
.special_tabs.horizontal.text .tab-selector{
    background: #ffff;
    margin-top: -3px;
}

.special_tabs.horizontal.text .tab-selector .labels-container{
    top: 25px;
    position: relative;
}


.special_tabs.horizontal .tab-selector .tab-selector-divider{
    width: 100%;
    height: 1px;
    background: #e0e5e9;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.special_tabs.horizontal .tab-selector .center-elements{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: auto;
    float: none;
    z-index: 2;
}
.special_tabs.horizontal .tab-selector .label{display: inline-block;float: left;padding: 7px 20px;}
.special_tabs.horizontal.icontext .tab-selector .label{display: inline-block;float: left;padding: 7px 20px;}

.special_tabs.horizontal .divider-vertical-tabs{display: none;}
.special_tabs.horizontal .tab-container .content{padding: 0;}

.special_tabs.horizontal.icontext .tab-selector .label, .special_tabs.horizontal.text .tab-selector .label{width: auto;display: inline-block;}
.special_tabs.horizontal.icontext .tab-selector .label{/* padding-right: 0px !important; */}
.special_tabs.horizontal.icontext .tab-container, .special_tabs.horizontal.text .tab-container{margin: 80px 0 0;}
.special_tabs.horizontal.icontext .tab-container .content, .special_tabs.horizontal.text .tab-container .content{padding: 0px;top: 0px;}
.special_tabs.horizontal.icontext .tab-selector .larch_icon_special_tabs{top:4px;}



/***************************************************************
					TESTIMONIALS STYLE 1
***************************************************************/
.testimonials.style1{
    width: 100%;
    padding: 0;
}

.testimonials-content{position: relative;transition:all .5s ease-in;word-wrap: break-word;word-break: normal;min-height: 180px;/* float: left; */text-align: center;padding: 0 15em;margin-top: 30px;/* display: inline-table; *//* margin: 0 auto; */z-index: 99;}

.testimonials.style1 .testimonial {
    /* position: absolute; */
    text-align: center;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-size: 1.1em;
    line-height: 1.7em;
}

.testimonials.style1 .testimonial.active{display: inline-table;}

.testimonials.style1 .testimonial p {
    margin-bottom: 0px;
    text-align: left !important;
}

.testimonials.style1 .testimonial span, .testimonials.style1 .testimonial span a{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    float: left;
    width: 100%;
    text-transform: uppercase;
}
.testimonials.style1 .testimonial span{margin-top: 30px;letter-spacing: 1px;}

.testimonials.style1 .testimonial-box{
    position: relative;
    margin-bottom: 40px;
    float: left;
    text-align: center;
    margin-right: 20px;
    width: 100%;
}
.testimonials.style1 .testimonial-nav{
    /* width: 100%; */
    /* float: left; */
    margin-bottom: 60px;
    display: table;
    text-align: center;
    margin: 0 auto;
}
.testimonials.style1 .testimonial-nav li{
    position: relative;
    float: left;
    list-style-type: none;
    width: 50px;
    height: 50px;
    margin: 0;
    /* border: 6px solid #fff; */
    display: inline-table;
    margin-right: 15px;
}
.testimonials.style1 .testimonial-nav li a{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 100px;
    overflow: hidden;
}
.testimonials.style1 .testimonial-nav li a:before{
    width: 80px;
    height: 80px;
    background: red;
    position: absolute;
    z-index: 2;
}
.cover-test-img{
    /* background: rgba(26, 188, 156,0.8); */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    opacity: 1;
    border-radius: 100px;
}


.testimonials.style1 .testimonial-nav li a:hover .cover-test-img, .testimonials.style1 .testimonial-nav li a.active .cover-test-img{
    opacity: 1;
    border-radius: 100px;
    /* opacity: 0; */
    background: rgba(0,0,0,.5);
    /* background: rgba(208, 88, 104, 0.8) !important; */
}



.no_avatar{
    background: #212121 url(../../images/sprite.png) no-repeat -447px 25px;
    width: 74px;
    height: 74px;
}
.testimonials-style2 .no_avatar{
    background: #212121 url(../../images/sprite.png) no-repeat -441px 33px;
    width: 88px;
    height: 88px;
}




/***************************************************************
					TESTIMONIALS STYLE 2
***************************************************************/
.testimonials-slide{
    padding: 0;
    margin: 0;
}
.testimonials-slide-content .img-container img.ie{border-radius: 100%;}
#testimonials-slider{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
/* .light-text .testimonials-slide-content .text-container span{color: #fff;} */

.nav-dark .testimonials-slide-content p{
    margin-top: 0px;
    color: #8C8C8C;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 500;
}
.nav-light .testimonials-slide-content .text-container span, .nav-light .testimonials-slide-content .text-container, .controlnav-light .testimonials-slide-content .text-container span, .controlnav-light .testimonials-slide-content .text-container{
    padding: 0px 0 30px 0;
    font-size: 18px;
    font-weight: 600;
    color: #f0f0f0;
}
.nav-light .testimonials-slide-content p, .controlnav-light .testimonials-slide-content p{
    margin-top: 50px;
    color: #D7D7D7;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 500;
}
.vc_col-sm-6 .nav-light .testimonials-slide-content p, .vc_col-sm-6 .controlnav-light .testimonials-slide-content p{
    margin-top: 25px;
    font-size: 18px;
}
.vc_col-sm-6 .testimonials-slide-content .text-container span a{
    font-size: 15px;
    font-weight: 600;
}
.nav-dark .testimonials-slide-content .text-container span{
    padding: 10px 0 30px 0;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.testimonials-slide-content.container{width: 100% !important;}
.testimonials-style2.flexslider .testimonials-slide .img-container img, .testimonials-style1.flexslider .testimonials-slide .img-container .no_avatar{width:88px;height:88px;}
.testimonials-slide-content p{margin-top: 0px;}
.text-container .fa-quote-left{padding-right: 5px;}
.text-container .fa-quote-right{padding-left: 5px;}
.testimonials-slide-content{text-align: center;}
.single .img-container{
    width: 100px;
    min-height: 145px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    display: table;
    text-align: center;
    margin: 0 auto;
    top: 0;
    position: relative;
    margin-right: 25px;
}
.single .img-container img, .img-container img, .single .comment-author img, .authoravatar img{
    -webkit-filter: none !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}

.single .comment-author img, .authoravatar img{
    -webkit-filter: none !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #d8d7d6;
    overflow: hidden;
    padding: 4px;
    background: #fff;

}
.img-container{
    /* width: 100px; */
    height: 100px;
    overflow: hidden;
    /* text-align: center; */
    /* display: inline-block; */
    /* display: table; */
    /* text-align: center; */
    /* margin: 0 auto; */
}
.testimonials-slide-content .img-container{
    margin: 40px 0px 0 20px;
    width: auto;
    overflow: unset;
    text-align: left;
    display: block;
    position: relative;
}
.testimonials-slide-content .img-container .t-author{
    float: left;
    margin-left: 20px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.testimonials-slide-content .img-container .t-author a{
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 0.8em;
    line-height: 1em;
    top: -5px;
    opacity: 0.5;
    position: relative;
}

.style-light .testimonials-slide-content .img-container .t-author,
.style-light .testimonials-slide-content .img-container .t-author a{
    color: #fff !important;
}



/*
.testimonials-slide-content .text-container{
	width: 95%;
	margin: 0px auto;
	display: inline-block;
}
*/
/*
.vc_col-sm-6 .testimonials-slide-content .text-container{
	width: 96%;
}
*/
.testimonials-slide-content .text-container{
    background: #fff;
    padding: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    border: 1px solid #d0d0d0;
}

.testimonials-slide-content .img-container:before{
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #bdbdbd;
    position: absolute;
    left: 14px;
    top: -41px;
}

/* Logos */
.container-logos{
    width: 70%;
    margin: 20px auto 60px auto;
}
.ult_design_5 .ult_pricing_table {
    border-radius: 8px!important;
    border-bottom: 0!important;
    border: 1px solid #e7e7ea !important;
}
.ult_pricing_table .ult_pricing_heading {
    padding: 20px 0 0!important;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ult_design_5 .ult_pricing_table {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ult_design_5 .ult_pricing_table:hover {
    -webkit-box-shadow: 0px 10px 25px rgba(212,218,220,.7)!important;
    box-shadow: 0px 10px 25px rgba(212,218,220,.7)!important;
}

/***************************************************************
					 MODAL TEAM PROFILE
***************************************************************/
a.team-profile:hover {
    cursor: pointer;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    /* background: white; */
    background-color: rgba(239, 239, 239, 0.93);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    overflow: auto;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    text-align: left;
}

.team_member_profile_content{
    height: 80vh;
    border-radius: 0;
    width: 80vw;
    margin: 0;
    z-index: 99999999999999999999;
    background: #fff;
    padding: 40px;
    -webkit-box-shadow: 0px 20px 55px rgba(212,218,220,1)!important;
    box-shadow: 0px 10px 55px rgba(212,218,220,1)!important;
    left: 10vw;
    top: 10vh;
}
.team_member_profile_content > .container{
    position: relative;
    margin: 0;
    padding: 0;
}

.modal .close {
    float: right;
    background: url(../../images/sprite.png) -185px 0 no-repeat;
    width: 46px;
    height: 46px;
    margin: 0px 0 -40px;
    z-index:1000;
    text-indent: -9999px;
    top: 20px;
    position: absolute;
    right: 20px;
}
.tm-info {
    overflow-y:auto;
    text-align: left;
    margin: 6% auto;
    position: relative;
}

.tm-info .container{
    border-bottom: 1px solid #ededed;
    position: relative;
}
.tm-info .member-desc{
    padding: 0 60px 40px 60px;
}

.tm-info .member-pos{
    position: absolute;
    top: 40px;
    right: 40px;
}
.tm-info .member-pos2{
    position: absolute;
    top: 20px;
    right: 0;
}
.tm-info .member-pos3{
    position: absolute;
    top: 20px;
    right: 0;
}
.tm-info .member-cont{
    position: absolute;
    left: 0;
    top: -35px;
}
.tm-info h2{
    font-weight: 800;
    font-size: 4em;
    margin-bottom: 5px;
}
.tm-info h4{
    color: #04acbb;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4em;
}
.social-font-awesome{
    position: relative;
    margin-top: 20px;
}
.social-font-awesome li{
    position: relative;
    float: left;
    list-style-type: none;
    margin-right: 20px;
}
.social-font-awesome li a{
    font-size: 1.3em;
    color: #444;
}


/* ANIMATIONS */
.loaded .animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
    -o-animation-duration: .6s;
    animation-duration: .6s;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .95;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .95;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .95;
    }
}

.stats-left .aio-icon.none {
    line-height: 1.4em;
}
/***************************************************************
					  TOOLTIP OPEN BT
***************************************************************/
a.team-profile:hover .tooltip-desc{
    display: block;
}

a.team-profile{
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
}


a.team-profile:hover img {
    opacity: 0.8;
}

a.team-profile:hover img.larch_grayscale {
    opacity: 1;
}


.team-profile img{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;
    filter: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.tooltip-content {
    color: #36383a;
    padding: 7px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    display: inline-block;
    min-width: 190px;
    text-align: center;
    margin: 0 auto;
    background: transparent url(../../images/arrow-team.png) no-repeat 15px 18px;
    text-align: left;
    padding-left: 45px;
    right: -60px;
    top: -8px;
}


.partners-container.noscroller{display:inline-block;width:100%;}
.partners-container.noscroller .partner-item a{width:100%;height:100%;text-align:center;display:table-cell;vertical-align: middle;}
.partners-container.noscroller .partner-item a img{max-height:100%;}
.partners-container.noscroller.innerborder .partners-row{display:inline-flex;width:100%;border-bottom: 1px solid;}
.partners-container.noscroller.innerborder .partners-row:last-child{border-bottom:none;}
.partners-container.noscroller.innerborder .partners-row .partner-item{border-right: 1px solid #EDEDED;display:table;}
.partners-container.noscroller.innerborder .partners-row .partner-item:last-child{border-right:none;}

/* partners with scroller */
.partners-container .carousel-item{display: table !important;}
.partners-container .carousel-item > a{display: table-cell;vertical-align: middle;text-align: center;}
.partners-container .carousel-item > a > img{display: inline-block;}

/* Left Align Testimonials */
.left-align-testimonials .testimonials-style2 .slick-list {
    width: 100%;
    margin: 0 auto;
}
.left-align-testimonials .testimonials-slide-content.container {
    width: 100% !important;
    text-align: left !important;
}
.left-align-testimonials .vc_col-sm-12 .testimonials-slide-content .text-container {
    width: 100%;
}
.left-align-testimonials .img-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    float: left;
}
.left-align-testimonials .testimonials-slide-content .text-container {
    width: 100% !important;
}
.left-align-testimonials .testimonials-slide-content p{
    text-align: left !important;
}
.left-align-testimonials .testimonials-style2 .slick-dots {
    top: -50px !important;
    text-align: right;
    margin-right: 15px;
    right: 0 !important;
    height: auto;
    bottom: auto !important;
}

.special_tabs.icontext.horizontal .larch_icon_special_tabs i {
    font-size: 22px !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    top: 3px;
    position: relative;
    left: 0;
}
.special_tabs.horizontal.icontext .tab-selector .label{
    /* width: 220px; */
}
.special_tabs.horizontal.icontext .tab-selector .larch_icon_special_tabs{/* width: 40px; */}
.special_tabs.icontext.horizontal .label .title {
    margin: 8px 20px 8px 45px;
}
.special_tabs .label{border-radius: 0;}
.special_tabs.icontext.horizontal .label, .special_tabs.text.horizontal .label{
    border-top: 1px solid #e0e5e9;
    border-left: 1px solid #e0e5e9;
    border-bottom: 1px solid #e0e5e9;
    border-right: none;
    background: #fff;
}

.special_tabs.icontext.horizontal .tab-selector .label:last-child, .special_tabs.text.horizontal .tab-selector .label:last-child{
    border-right: 1px solid #ddd;
}
.special_tabs.horizontal.icontext .tab-selector .label.current{
    border-bottom: none;
}
